In [2]:
import pandas as pd #alias data
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np


#สร้าง data เก็บ series
arr = np.array([9,8,7,5,10,11,3,4,6])
series = pd.Series(arr)

print(arr)
print(series)



dict = {1:'BMW',2:'Toyota',3:'Mercedes',4:'Honda',5:'Audi'}
print(dict)
series = pd.Series(dict)
print(series)

[ 9  8  7  5 10 11  3  4  6]
0     9
1     8
2     7
3     5
4    10
5    11
6     3
7     4
8     6
dtype: int64
{1: 'BMW', 2: 'Toyota', 3: 'Mercedes', 4: 'Honda', 5: 'Audi'}
1         BMW
2      Toyota
3    Mercedes
4       Honda
5        Audi
dtype: object

In [35]:
list = [[9,8,7,6,5,4,3,2,1],[5,5,4,6,2,3,1]]
dataFrame = pd.DataFrame(list)
print(dataFrame)
print()

dict = {'Brand':['A','B','C','D','E'],'Founded':['1999','2000','1995','1990','1997']}
dataFrame = pd.DataFrame(dict)
print(dataFrame)

   0  1  2  3  4  5  6    7    8
0  9  8  7  6  5  4  3  2.0  1.0
1  5  5  4  6  2  3  1  NaN  NaN

  Brand Founded
0     A    1999
1     B    2000
2     C    1995
3     D    1990
4     E    1997

In [9]:
data = pd.read_csv('/content/drive/MyDrive/Github/AI_DS/DS_data/BL-Flickr-Images-Book.csv', encoding="ISO-8859-1")
# data.head()


# ทำการ cleaning โดยการ drop col
li_to_drop = ['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver']

# axis 0 = row, 1 = col และ inplace คือการลบภายในไฟล์เลย
# data.drop(li_to_drop, inplace=True, axis=1)
data.drop(columns=li_to_drop, inplace=True)
data.head()

# check if column is unique
# print(data['Identifier'].is_unique)

#set index to col 'Identifier'
data = data.set_index('Identifier')

# data.iloc[5]
# print(data.loc[216])
# print(data.loc[216,'Title'])


# plt.figure(figsize=(16,6))
# sb.lineplot(data = data)

In [19]:
# Cleaning specific column by using Regula Expression
data.loc[1905:,'Date of Publication'].head()

# ^ = group
# \d Decimal
# {4} 4 digits
regEx = r'^(\d{4})'

# เลือกข้อมูลจาก col แปลงให้เป็น String แล้วทำการ Extract ด้วย regExpress โดย return as Series ยังไม่ได้เปลี่ยนใน Data
extract = data['Date of Publication'].str.extract(regEx, expand = False)
extract.head(100)

Identifier
206      1879
216      1868
218      1869
472      1851
480      1857
         ...
36521    1857
36531    1821
36721    1897
38673    1891
38986    1827
Name: Date of Publication, Length: 100, dtype: object

In [45]:
li_place = ['London','Oxford']
pub = data['Place of Publication']
london = pub.str.contains('London')
oxford = pub.str.contains('Oxford')

series = pd.DataFrame([london,oxford])
print(series)

# clean ค่าให้เหลือเฉพาะที่มีคำว่า London และ Oxford
data['Place of Publication'] = np.where(london, 'London', np.where(oxford, 'Oxford', pub.str.replace('-','')))
data['Place of Publication'].head(50)

Identifier            206      216      218      ...  4159563  4159587  4160339
Place of Publication     True     True     True  ...     True    False     True
Place of Publication    False    False    False  ...    False    False    False

[2 rows x 8287 columns]

Identifier
206                                  London
216                                  London
218                                  London
472                                  London
480                                  London
481                                  London
519                                  London
667                                  Oxford
874                                  London
1143                                 London
1280                               Coventry
1808                            Christiania
1905                                Firenze
1929                              Amsterdam
2836                                 Savona
2854                                 London
2956                                  Paris
2957                                  Paris
3017                             PuertoRico
3131                               New York
4598                                   Hull
4884                                 London
4976                                 Oxonii
5382                                 London
5385                                 London
5389                                 London
5432                                 Milano
6036                                 London
6821                               Aberdeen
7521                                   Wien
7630                               Abingdon
8239                                 Quebec
8435                                 London
8440                                 London
11361                               Leipzig
11852    pp. 40. W. Cann: Plymouth, [1876?]
13074                                London
13364                                London
14466                                London
14703                                  1845
15141                                London
15146                                London
16173                                   enk
16543                                London
16544                                Boston
17602                                London
17752                              UpsaliÃ¦
18173                                London
18218                             Edinburgh
18347                               Yverdon
Name: Place of Publication, dtype: object

In [47]:
data.head(5)

           Place of Publication  ...                           Shelfmarks
Identifier                       ...
206                      London  ...    British Library HMNTS 12641.b.30.
216                      London  ...    British Library HMNTS 12626.cc.2.
218                      London  ...    British Library HMNTS 12625.dd.1.
472                      London  ...  British Library HMNTS 10369.bbb.15.
480                      London  ...     British Library HMNTS 9007.d.28.

[5 rows x 9 columns]

In [37]:
data = pd.read_csv('/content/drive/MyDrive/Github/AI_DS/DS_data/olympics.csv', encoding="ISO-8859-1")
data.head()


# plt.figure(figsize=(16,6))
# sb.lineplot(data)

                   0         1     2     3  ...    12    13    14              15
0                NaN  ? Summer  01 !  02 !  ...  01 !  02 !  03 !  Combined total
1  Afghanistan (AFG)        13     0     0  ...     0     0     2               2
2      Algeria (ALG)        12     5     2  ...     5     2     8              15
3    Argentina (ARG)        23    18    24  ...    18    24    28              70
4      Armenia (ARM)         5     1     2  ...     1     2     9              12

[5 rows x 16 columns]